<form>
  <h1 style="text-align: center">Aplikasi Entry Data Mahasiswa</h1>
  <br>
  <div>
    <input [disabled]="disable" type="text" placeholder="Nik" [(ngModel)]="nik" maxlength="5" name="nik" (keypress)="_keyPress($event)"/>
  </div>
  <div>
    <input type="text" placeholder="Nama Mahasiswa" [(ngModel)]="namaMahasiswa" maxlength="20" name="namaMahasiswa"/>
  </div>
  <div>
    <input type="date" placeholder="Tanggal Lahir" [(ngModel)]="tglLahir" name="tglLahir"/>
  </div>
  <div>
    <button (click)="createMahasiswa()">Create</button>
    <button (click)="reset()">Reset</button>
  </div>
  <p>&nbsp;</p>
  <h3 style="text-align: center">Tabel Data Mahasiswa</h3>
  <input type="text" placeholder="Search Mahasiswa" [(ngModel)]="search" (keydown)="searchMahasiswa()" name="search"/>
  <br>
  <table id="mahasiswa">
    <thead>
      <tr>
        <th style="text-align:center">Nik</th>
        <th style="text-align:center">Nama</th>
        <th style="text-align:center">Tgl Lahir</th>
        <th style="text-align:center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dummyData; let i = index">
        <td style="text-align:center">
          {{data.doc.nik}}
        </td>
        <td>
          {{data.doc.name}}
        </td>
        <td style="text-align:center">
          {{data.doc.dob}}
        </td>
        <td style="text-align:center">
            <button (click)="updateMahasiswa(i, data)">Edit</button>
            <button (click)="deleteMahasiswa(data)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>

